@font-face {
	font-family: 'Goyang';
	font-weight: 400;
	font-display: swap;
	src: local('Goyang Regular'), url('./woff2/Goyang-Regular.woff2') format('woff2'), url('./woff/Goyang-Regular.woff') format('woff');
}
